# DSC 80: Lab 02

### Due Date: Tuesday January 21st, at 11:59 PM

## Instructions
Much like in DSC 10, this Jupyter Notebook contains the statements of the homework problems and provides code and markdown cells to display your answers to the problems. Unlike DSC 10, the notebook is *only* for displaying a readable version of your final answers. The coding work will be developed in an accompanying `lab02.py` file, that will be imported into the current notebook.

Homeworks and programming assignments will be graded in (at most) two ways:
1. The functions and classes in the accompanying python file will be tested (a la DSC 20),
2. The notebook will be graded (for graphs and free response questions).


**Do not change the function names in the `*.py` file**
- The functions in the `*.py` file are how your assignment is graded, and they are graded by their name. The dictionary at the end of the file (`GRADED FUNCTIONS`) contains the "grading list". The final function in the file allows your doctests to check that all the necessary functions exist.
- If you changed something you weren't supposed to, just use git to revert!

**Tips for working in the Notebook**:
- The notebooks serve to present you the questions and give you a place to present your results for later review.
- The notebook on *lab assignments* are not graded (only the `.py` file).
- Notebooks for PAs will serve as a final report for the assignment, and contain conclusions and answers to open ended questions that are graded.
- The notebook serves as a nice environment for 'pre-development' and experimentation before designing your function in your `.py` file.
- If autograder failed, check to make sure there's no syntax errors with the doctests!

**Tips for developing in the .py file**:
- Do not change the function names in the starter code; grading is done using these function names.
- Do not change the docstrings in the functions. These are there to tell you if your work is on the right track!
- You are encouraged to write your own additional functions to solve the lab! 
    - Developing in python usually consists of larger files, with many short functions.
    - You may write your other functions in an additional `.py` file that you import in `lab02.py` (much like we do in the notebook).
- Always document your code!

### Importing code from `lab**.py`

* We import our `.py` file that's contained in the same directory as this notebook.
* We use the `autoreload` notebook extension to make changes to our `lab**.py` file immediately available in our notebook. Without this extension, we would need to restart the notebook kernel to see any changes to `lab**.py` in the notebook.
    - `autoreload` is necessary because, upon import, `lab**.py` is compiled to bytecode (in the directory `__pycache__`). Subsequent imports of `lab**` merely import the existing compiled python.

In [231]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [232]:
import lab02 as lab

In [233]:
import os
import pandas as pd
import numpy as np

## Pandas Basics

---

**Question 1: Test scores**

You will be given a small dataset (so that you can manually check the correctness of your code). Please follow a few requirements when solving the problems below:

* For all questions you need to write code general enough to be applied to another similar dataset. 
* Do not hard-code any answers please. 
* Do not use `for` or `while` loops
   

1. Write a function called `data_load` that takes a file name of the data set to be read as a string and returns a dataframe following the steps below:

    a. Read only a subset of columns: `name`, `tries`, `highest_score`, `sex`
    
    b. Then you realized that for your analysis the column `sex` is not needed. Remove it. 
    
    c. You want to customize the column names: rename `name` to `firstname` and `tries` to `attempts`
    
    d. Turn the `firstname` column into the index.


2. Write a function `pass_fail` that takes the dataframe returned from the function above and adds a column `pass` based on the following conditions:

    * "Yes" if a number of attempts is strictly less than 3 and the score is >= 50
    * "Yes" if a number of attempts is strictly less than 6 and the score is >= 70
    * "Yes" if a number of attempts is strictly less than 10 and the score is >= 90
    * "No" otherwise
 
Your function should return the (modified) input dataframe with the added column.
    
3. Write a fuction `av_score` that takes in a dataframe from the question above and returns the average score for those students who passed the test. 
    
4. Write a function `highest_score_name` that takes in the dataframe from question 1.2 and returns a dictionary, where the key is the highest score and the value is the name (as a list) of the person with the highest score (attempts do not count). If more than one student got the highest score, include all names in a list. 

5. Write a function `idx_dup` that does not take any parameters and returns a single integer, answering the question below:

Is it possible for a dataframe's index to have duplicate values?
1. No, the index values must be unique and uses non-negative integers only, just like in numpy arrays
2. No, the index values must be unique and uses integers only
3. No, the index values must be unique but index values are not restricted to integers
4. Yes, but index values must be non-negative integers only
5. Yes, but index values must be integers only
6. Yes and index values are not restricted to integers

In [234]:
#data_load
scores_fp = os.path.join('data', 'scores.csv')
scores = lab.data_load(scores_fp)

In [235]:
isinstance(scores, pd.DataFrame)

True

In [236]:
list(scores.columns)

['attempts', 'highest_score']

In [237]:
isinstance(scores.index[0], int)

False

In [238]:
#pass_fail
scores_fp = os.path.join('data', 'scores.csv')

In [239]:
scores = lab.data_load(scores_fp)

In [240]:
scores = lab.pass_fail(scores)

In [241]:
isinstance(scores, pd.DataFrame)

True

In [242]:
len(scores.columns)

3

In [243]:
scores.loc["Julia", "pass"]=='Yes'

True

In [244]:
#av_score
scores_fp = os.path.join('data', 'scores.csv')
scores = lab.data_load(scores_fp)
scores = lab.pass_fail(scores)
av = lab.av_score(scores)

In [245]:
isinstance(av, float)
91 < av < 92

True

In [246]:
#highest_score_name
scores_fp = os.path.join('data', 'scores.csv')
scores = lab.data_load(scores_fp)
scores = lab.pass_fail(scores)
scores

            attempts  highest_score pass
first name
Julia              4           90.0  Yes
Angelica           2           70.0  Yes
Tyler              2           88.0  Yes
Kathleen           7           88.5   No
Axel               5           45.3   No
Amiya              2           34.0   No
Marina             2          100.0  Yes
Torrey            14           99.0   No
Mariah            10           98.1   No
Grayson            3           67.0   No
Yvette             4           55.9   No
Marina             3          100.0  Yes
Marina             2          100.0  Yes

In [247]:
highest = lab.highest_score_name(scores)
highest

{100.0: ['Marina', 'Marina', 'Marina']}

In [248]:
isinstance(highest, dict)

True

In [249]:
len(next(iter(highest.items()))[1])

3

In [252]:
#idx_dup
ans = lab.idx_dup()
ans

6

In [253]:
isinstance(ans, int)

True

In [254]:
1 <= ans <= 6

True

## Tricky Pandas.

Sometimes you can get input that you do not expect. The next set of questions walk you through a few examples that might surprise you.

---
**Question 2 : Duplicate and selection**



1. Write a function `trick_me` that does not take any parameters. <br>Inside the function: 
    * Create a dataframe `tricky_1` that has three columns labeled: "Name", "Name", "Age". Your table should have 5 rows, the values are up to you. 
    * Save this dataframe in the `csv` file called `tricky_1.csv` without the index. 
    * Now create another dataframe, `tricky_2`, by reading in the file `tricky_1.csv `. What are your observations?
        1. It was not possible to create a dataframe with the duplicate columns
        2. `tricky_1` and `tricky_2` have the same column names
        3. `tricky_1` and `tricky_2` have different column names
    * Return your answer as a letter
    
    

2. Write a function `reason_dup` that answers the following question: `Why does pandas allow us to have duplicate column names?` by returning a corresponding letter. 
    1. It does not, duplicate column names are not allowed
    2. Since duplicate indices are allowed and we also can transpose a dataframe.
    3. It is a bug in Pandas
    
    
   
   
3. Write a function `trick_bool` that does not take any parameters. To determine the correct answers from the list below, you should follow the steps outlined by experimenting in *the notebook* (or a python REPL). Outside the function:
    * Create a dataframe `bools` that has four columns labeled: "True", "True", "False", "False". Each column name is boolean.
    * Your table should have 4 rows, the values are up to you. 
    * You need to think (without running it) what output you should get when running each line of code below. Pick a corresponding answer from a given list. Your function should return a list with three letters that correspond to the dataframe structure for each line below. 
    
     ```
     df[True]
     df[[True, True, False, False]]
     df[[True, False]]
     ```
    
        1. Dataframe: 2 columns, 1 row
        2. Dataframe: 2 columns, 2 rows
        3. Dataframe: 2 columns, 3 rows
        4. Dataframe: 2 columns, 4 rows
        5. Dataframe: 3 columns, 1 rows
        6. Dataframe: 3 columns, 2 rows
        7. Dataframe: 3 columns, 3 rows
        8. Dataframe: 3 columns, 4 rows
        9. Dataframe: 4 columns, 1 rows
        10. Dataframe: 4 columns, 2 rows
        11. Dataframe: 4 columns, 3 rows
        12. Dataframe: 4 columns, 4 rows
        13. Error
    
    
4.  Write a function `reason_bool` that answers the following question: `Why the outputs are the way they are?` by returning a corresponding letter. 
    1. booleans arrays select either rows or columns, randomly
    2. booleans arrays always select rows by default
    3. booleans arrays always select columns by default 
    4. booleans arrays always select rows by default, unless column names are set to `True`/`False` values.

In [263]:
#trick_me
tricky_fp = os.path.join('data', 'tricky_1.csv')
tricky_2 = pd.read_csv(tricky_fp)
tricky_2

      Name Name.1  Age
0     Sara    Lee   13
1  Justine  Hwang   15
2       Hi  Apple   21
3    Green  Banna   43
4      Bye    End   11

In [259]:
ans =  lab.trick_me()
ans == 'A' or ans == 'B' or ans == "C"

True

In [513]:
#reason_dup
dic = {True : [1,2,3],
       True:[5,6,7],
       False:[3,4,5],
       False: [6,7,8]}
df = pd.DataFrame.from_dict(dic)
df[[True, False]]

ValueError: Item wrong length 2 instead of 3.

---
**Question 3 : np.NaN in a dataframe**


In the notebook, use the code given below to create a dataframe called `nans`. Note that we use `np.NaN` (`numpy`'s representation of 'Not a Number') to create missing values.
 
```
nans = pd.DataFrame([[0,1,np.NaN], [np.NaN, np.NaN, np.NaN], [1, 2, 3]])
```
Now you decided to make your dataset more readable for people who do not understand `NaN` and replace it with a `MISSING` string instead. In order to do that you wrote the following function:

```
def change(x):
    if x == np.NaN:
        return "MISSING"
    else:
        return x
```

* Write a line of code that applies the function above to the last column of the `nans` dataframe. 
* What was a result?
    * A: It worked: all np.NaNs in the last columns where changed to "MISSING"
    * B: It did not work: does not matter how I tried, the NaN values were not changed.
    
I expect you to answer `B` here. What had happened? Turns out, you can't use simple comparison `==` to detect if a value is `np.NaN`. You need to use another way to compare a variable to a `np.NaN`, read about it [here](https://stackoverflow.com/questions/41342609/the-difference-between-comparison-to-np-nan-and-isnull)

1. Modify the function `change` above to work as expected.
2. Write method `correct_replacement` that takes in a dataframe like `nans` and returns a modified dataframe, where all the `NaN` are replaced with `"MISSING"`. Use your corrected version of `change` to do this. **The pandas function .fillna is not allowed in this question.**

In [276]:
lab.change(1.0) == 1.0
lab.change(np.NaN) == 'MISSING'

True

In [354]:
nans = pd.DataFrame([[0,1,np.NaN], [np.NaN, np.NaN, np.NaN], [1, 2, 3]])
nans

     0    1    2
0  0.0  1.0  NaN
1  NaN  NaN  NaN
2  1.0  2.0  3.0

In [357]:
A = lab.correct_replacement(nans)
A

         0        1        2
0        0        1  MISSING
1  MISSING  MISSING  MISSING
2        1        2        3

---

### Summary Statistics

**Question 4**

In this question you will create two general purpose functions that make it easy to 'qualitatively' assess the contents of a dataframe.

1. Create a function `population_stats` which takes in a dataframe `df` and returns a dataframe indexed by the columns of `df`, with the following columns:
    * `num_nonnull` contains the number of non-null entries in each column,
    * `pct_nonnull` contains the proportion of entries in each column that are non-null,
    * `num_distinct` contains the number of distinct entries in each column,
    * `pct_distinct` contains the proportion of (non-null) entries in each column that are distinct from each other.
    
*Note*: you may find the `.nunique()` series method useful.

*Note*: The number of distinct entries does not include nulls.
    
2. Create a function `most_common` which takes in a dataframe `df` and a number `N` and returns a dataframe of the `N` most-common values (and their counts) for each column of `df`. Any column with fewer than `N` distinct values should contain `NaN` in those entries. 

*Note*: you can loop through the *columns* of `df` to construct your output. You should **not** be looping through rows.

For example, for the subset of the `salaries` dataframe with columns 'Job Title' and 'Status' from lecture one (left), `most_common(salaries, N=5)` is given (right). 

<table><tr>
    <td><img src="imgs/dataframe.png" width="70%"/></td>
    <td><img src="imgs/most_common.png" width="70%"/></td>
</tr></table>

In [351]:
data = np.random.choice(range(10), size=(100, 4))
df = pd.DataFrame(data, columns='A B C D'.split())
out = lab.population_stats(df)
out

   num_nonnull  pct_nonnull  num_distinct  pct_distinct
A          100          1.0            10           0.1
B          100          1.0            10           0.1
C          100          1.0            10           0.1
D          100          1.0            10           0.1

In [352]:
out.index.tolist() == ['A', 'B', 'C', 'D']
cols = ['num_nonnull', 'pct_nonnull', 'num_distinct', 'pct_distinct']
out.columns.tolist() == cols
(out['num_distinct'] <= 10).all()
(out['pct_nonnull'] == 1.0).all()

True

In [530]:
#most_common
data = np.random.choice(range(10), size=(100, 2))
df = pd.DataFrame(data, columns='A B'.split())

In [563]:
#out = lab.most_common(df, N=15)
df1 = pd.Series([np.NaN,np.NaN,np.NaN,np.NaN])

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
dtype: float64

In [576]:
out = lab.most_common(df, N=15)
output = pd.DataFrame()
for i in df.columns:
    output[ i+'_values'] = pd.Series(df[i].value_counts().nlargest(15).index)
    output[ i+'_counts'] = pd.Series(df[i].value_counts().nlargest(15).values)
if len(output) < 15:
    df1 = pd.Series([np.NaN,np.NaN,np.NaN,np.NaN])
    df_repeated = pd.concat([df1]*3, ignore_index=True)
    output.append(df1, ignore_index=True)
output

   A_values  A_counts  B_values  B_counts
0         4        14         5        14
1         9        13         3        14
2         7        12         7        11
3         1        12         2        11
4         2        11         1        10
5         0         9         4         9
6         6         8         0         9
7         5         8         8         8
8         8         7         6         8
9         3         6         9         6

## Faulty Scooters

**Question 5**

A new electric scooter company 'Maxwell Scooters' opened a retail shop in La Jolla recently and 300 UCSD students bought new scooters for getting around campus. After 8 students start complaining their scooters are faulty, negative on-line reviews for the scooters start to spread. In response, the scooter company adamantly claims that 99% of their scooters come off the production line working properly. You think this seems unlikely and decide to investigate.

* Select a significance level for you investigation. (Not to be turned in)
* What are reasonable choices for the *Null Hypothesis* for your investigation? Select all that apply:
    1. The scooter company produces scooters that are 99% non-faulty.
    2. The scooter company produces scooters that are less than 99% non-faulty.
    3. The scooter company produces scooters that are at least 1% faulty.
    4. The scooter company produces scooters that are ~2.6% faulty.

Return your answer in a function `null_hypoth` that takes zero arguments.

* Create a function `simulate_null` simulates a single step of data generation under the null hypothesis. The function should return a binary array.

* Create a function `estimate_p_val` that takes in a number `N` and returns the estimated p-value of your investigation upon simulating the null hypothesis `N` times.

*Note*: Plot the Null distribution and your observed statistic to check your work.

In [585]:
simulation = np.random.choice(['faulty', 'non-faulty'],size = 300)

In [578]:
pd.Series(lab.simulate_null()).isin([0,1]).all()

True

In [591]:
0 < lab.estimate_p_val(1000) < 0.1

True

In [592]:
lab.estimate_p_val(1000)

0.047

# Super-Heroes

The questions below analyze a dataset of super-heroes found in the `data` directory. One of the datasets have a list of attributes on each super-hero, while the other is a *boolean* dataframe of which super-heroes have which super-powers. Note, the datasets contain information on both *good* super-heroes, as well as *bad* super-heroes (AKA villains).

### Super-hero powers

**Question 6**

Now read in the dataset of super-hero powers in the `data` directory. Create a function `super_hero_powers` that takes in a dataframe like `powers` and returns a list with the following three entries:

1. The name of the super-hero with the greatest number of powers.
2. The name of the most common super-power among super-heroes whose names begin with 'M'.
3. The most popular super-power among those with only one super-power.

You should *not* be hard-coding your answers in this question; your function should work on any dataset similar to `powers`. You should not be using loops in this question.

*Note:* You may find the `.idxmax` method useful in this problem.

In [520]:
powers_fp = os.path.join('data', 'superheroes_powers.csv')
powers = pd.read_csv(powers_fp)

In [521]:
out = lab.super_hero_powers(powers)
isinstance(out, list)

True

In [522]:
len(out)

3

In [523]:
all([isinstance(x, str) for x in out])

True

### Super-hero attributes

Read in the dataset of super-hero attributes from the `data` directory. Use your summary functions from question 4 to help acquaint yourself with the dataset.

**Question 7**

Cleaning the data: the dataset has no explicit null (`np.NaN`) values, although many entries *should* be null. Replace these values with null by creating a function `clean_heroes`.

Now answer the following questions, collecting your answers in a (function `super_hero_stats` that returns) a list. You should answer the questions using the *cleaned* super-heroes data; your answers *should* be hard-coded in the function.
1. Which publisher has a greater proportion of 'bad' characters -- Marvel Comics or DC Comics?
2. Give the number of characters that are NOT human, or the publisher is not Marvel Comics nor DC comics. For this question, only consider race "Human" as human, races such as "Human / Radiation" don't count as human.
3. Give the name of the character that's both greater than one standard deviation above mean in height and at least one standard deviation below the mean in weight.
4. Who is heavier on average: good or bad characters?
5. What is the name of the tallest Mutant with no hair?
6. What is the probability that a randomly chosen 'Marvel' character in the dataset is a woman?

*Note:* Since your answers to these questions should be hard-coded, you should not include your code in your .py file. Just return a list with your answers.

*Note:* Nan denotes an unknown value that does not count as an entry with any attributes.

In [689]:
superheroes_fp = os.path.join('data', 'superheroes.csv')
heroes = pd.read_csv(superheroes_fp, index_col=0)
heroes = heroes.replace('-', np.nan).replace(-99.0, np.nan)

In [617]:
len(heroes[(heroes['Race']!='Human') | ((heroes['Publisher']!='Marvel Comics') & (heroes['Alignment'] != 'bad'))])

625

In [645]:
std_weight = heroes['Weight'].std() + heroes['Weight'].mean()
std_height = heroes['Height'].mean() - heroes['Height'].std()
heroes[(heroes['Weight'] >= std_weight)&(heroes['Height'] <= std_height)]['name'].values[0]

'Giganta'

In [691]:
len(heroes[(heroes['Gender']=='Female')&(heroes['Publisher']=='Marvel Comics')])/len(heroes)

0.15122615803814715

### Are blond-haired, blue-eyed characters disproportionately 'good'?

**Question 8**

1. Create a function `bhbe` ('blond-hair-blue-eyes') that returns a boolean column that labels super-heroes/villains that are blond-haired *and* blue eyed.
    * Look at the values of the hair/eyes columns; it needs some cleaning! (The doctest makes sure you've cleaned it properly. If you don't pass the doctest, look more closely at the values in the columns!)


Now, you'd like to answer the question 
> "Are blond-haired, blue-eyed characters disproportionately 'good'?"

To do this, you'd like to test the null hypothesis:
> "The proportion of 'good' heroes among blond-haired, blue-eyed heroes is roughly the same as (equals) the proportion of 'good' heroes in the overall population."

Fix a significance level of 1%.

2. Create a function `observed_stat` that takes in `heroes`, and returns the observed test statistic.
3. Create a function `simulate_bhbe_null` that takes in a number `n` that returns a `n` instances of the test statistic generated under the null hypothesis. You should hard-code your simulation parameter into the function (rounding to the nearest hundredth is fine); the function should *not* read in any data.
4. Create a function `calc_pval` that returns a list where:
    * the first element is the p-value for hypothesis test (using 100,000 simulations). Please run the code yourself and hard-code this answer, as actually running the 100,000 simulation hypothesis test will timeout on gradescope. 
    * the second element is `Reject` if you reject the null hypothesis and `Fail to reject` if you fail to reject the null hypothesis.

In [781]:
#bhbe_col
superheroes_fp = os.path.join('data', 'superheroes.csv')
heroes = pd.read_csv(superheroes_fp, index_col=0)
out = lab.bhbe_col(heroes)

In [776]:
isinstance(out, pd.Series)

True

In [766]:
out.dtype == np.dtype('bool')

True

In [767]:
out.sum()

93

In [794]:
out = lab.observed_stat(heroes)
0.5 <= out <= 1.0

True

In [795]:
superheroes_fp = os.path.join('data', 'superheroes.csv')
heroes = pd.read_csv(superheroes_fp, index_col=0)

In [817]:
superheroes_fp = os.path.join('data', 'superheroes.csv')
heroes = pd.read_csv(superheroes_fp, index_col=0)
out = lab.simulate_bhbe_null(10)
out

0    0.55
1    0.67
2    0.46
3    0.98
4    0.67
5    0.88
6    0.64
7    0.98
8    0.99
9    0.52
dtype: float64

In [818]:
isinstance(out, pd.Series)
out.shape[0]
((0.45 <= out) & (out <= 1)).all()

True